@model List<Employees>;

<a asp-controller="Employee" asp-action="Create" > Add new Employee</a>
<br />
<br />

<h1>Employee List</h1>
<br />

<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Age</th>
        <th>Designation</th>
        <th>City</th>
        <th>Actions</th>
    </tr>

    @foreach (var emp in Model)
    {
        <tr>
            <td>@emp.Id</td>
            <td>@emp.Name</td>
            <td>@emp.Gender</td>
            <td>@emp.Age</td>
            <td>@emp.Designation</td>
            <td>@emp.City</td>
            <td>
                <a asp-controller="Employee" asp-action="Edit" asp-route-id="@emp.Id">Edit</a> |
                <a asp-controller="Employee" asp-action="Details" asp-route-id="@emp.Id">Details</a> |
                <a asp-controller="Employee" asp-action="Delete" asp-route-id="@emp.Id">Delete</a>
            </td>
        </tr>
    }
</table>